
  <div class="col-sm-8 col-sm-offset-2">
  	<!-- pas besoin de reference locale-->
  	<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
	   		<label for="firstName">Prénom</label>
        	<input type="text" id="firstName" class="form-control" formControlName="firstName">
      </div>
       <div class="form-group">
	   		<label for="lastName">Nom</label>
       		 <input type="text" id="lastName" class="form-control" formControlName="lastName">
      </div>
       <div class="form-group">
	   		<label for="email">email</label>
      		  <input type="text" id="email" class="form-control" formControlName="email">
      </div>
       <div class="form-group">
	   <label for="drinkPreference">Boisson préférée</label>
        <select id="drinkPreference" class="form-control" formControlName="drinkPreference">
        		<option value="coca">Coca</option>
        		<option value="coca">Pepsi</option>
        		<option value="coca">Cafe</option>
        </select>
      </div>
		<button class="btn btn-primary">Enregistrer</button>
    </form>
  </div>
